<!DOCTYPE html>
<html lang="en" ng-app="todoList">
<head>
    <meta charset="UTF-8">
    <title>Angular 01</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div id="wrapper">
        <div class="main" ng-controller="MainController">
            <form ng-submit="addTask()">
                <input type="text" ng-model="newTaskName">
                <button type="submit" ng-disabled="!newTaskName">Add Task</button>
            </form>
            <table ng-if="taskList && taskList.length">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Task</th>
                        <th>Done</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td ng-click="sortTable('name')">
                            <a class="asc" href="#" ng-show="sortFlag">&#9650;</a>
                        ALL
                            <a class="desc" href="#" ng-hide="sortFlag">&#9660;</a>
                        </td>
                        <td><label><input type="checkbox" ng-model="task.done" ng-change="makeTasksDone(task.done)"></label></td>
                        <td><button class="delete" ng-click="removeAll()">[X]</button></td>
                    </tr>
                    <tr ng-repeat="task in taskList | limitTo:countPerPage:offset :false track by $index">
                        <td width="50">{{task.id}}</td>
                        <td><span>{{task.name}}</span></td>
                        <td width="30">
                            <label><input type="checkbox" ng-model="task.done"></label>
                        </td>
                        <td width="30">
                            <button class="delete" ng-click="removeTask(task.id)">[X]</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pageWrapper" ng-show= "taskList.length">
            	<button ng-repeat= "page in pages"
                                 ng-click= "changePages($index)"
                                 ng-class= "{active: currentPage=== $index}">
                        {{page.id}}
                     </button>
            </div>
        </div>
    </div>
</body>
</html>